# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  GOPATH: '$(system.defaultWorkingDirectory)/gopath' # Go workspace path
  GOBIN:  '$(GOPATH)/bin' # Go binaries path
  GOROOT: '/usr/local/go1.11' # Go installation path
  modulePath: '$(GOPATH)/src/spike' # Path to the module's code

steps:
- script: pwd 
  displayName: 'Where am I'

- script: go env
  displayName: 'Checking Go environment'

- script: |
    mkdir -p '$(GOBIN)'
    mkdir -p '$(GOPATH)/pkg'
    mkdir -p '$(modulePath)'
    shopt -s extglob
    mv !(gopath) '$(modulePath)'
    echo '##vso[task.prependpath]$(GOBIN)'
    echo '##vso[task.prependpath]$(GOROOT)/bin'
  displayName: 'Set up the Go workspace'

- script: |
    echo 'Getting path'
    pwd
    echo 'Whats here'
    find .
  displayName: 'Getting bearings'

- script: |
    echo $GOPATH
    echo $GOBIN
    echo $GOROOT
    echo $(modulePath)
  displayName: 'Checking declared variables'

- script: go get -v -t -d ./...
  workingDirectory: '$(modulePath)'
  displayName: 'go get dependencies'

- script: |
    pwd
    if [ -f Gopkg.toml ]; then
        curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
        dep init
        dep ensure
    fi
  workingDirectory: '$(modulePath)'
  displayName: 'Download dep and run `dep ensure`'

- script: go build -v .
  workingDirectory: '$(modulePath)'
  displayName: 'Build'

- script: go test -v ./...
  workingDirectory: '$(modulePath)'
  displayName: 'Run tests'